---
default_install_hook_types:
  - pre-commit
  - prepare-commit-msg

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-symlinks

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy

  - repo: local
    hooks:
      - id: unit-tests
        name: Unit tests
        description: Run unit tests
        entry: /opt/homebrew/bin/uv run python -m pytest
        language: system
        types: [python]
        pass_filenames: false
