on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: "Pre-commit Checks"
run-name: "Pre-commit Checks - ${{ github.head_ref || github.ref_name }}"

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install uv
        run: |
          python -m pip install uv

      - name: Run Pre-commit Checks
        run: |
          uv run --with pre-commit pre-commit run --all-files
